    #wrapper {
        width: 100%;
    }
    body {
        background-color: bisque;
        
    
    }
    * {
        box-sizing: border-box;
    }    
    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }
    
    input[type=password], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }
   
    input[type=button]  {
        background-color:powderblue;
        color: black;
        padding: 12px 20px;
        border: none;
        border-radius: 4px; <!--ขัดกรอบให้มน-->
        cursor: pointer;
        max-width: 45%;
        margin-right:5%;
        margin-left:2.5%;
        margin-top:2.5%;
    }
    input[type=button]:hover {
        background-color: #45a049;
    }
    
    label {
        font-size: 75%;
        padding: 12px 12px 12px 0;
        display: inline-block;
    }
    .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
    }
        
    .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    #point{
        margin-top: 6px;
        margin-bottom: 6px
    }
    #noti{
        margin-top: 6px;
        margin-bottom: 6px
    }
    .search-box{
        float: right;
        width: 25%;
    }
    .categories{
        float: right;
        width: 25%;
        margin-right: 10%;
    }
    .post-box{
        widows: 70%;
        margin-left: 15%;
        margin-right: 15%;   
    }
    .post{

        color: white;
    }
    .search-button{
        background-color:powderblue;
        color: black;
        padding: 12px 20px;
        border: none;
        border-radius: 4px; <!--ขัดกรอบให้มน-->
        cursor: pointer;
        max-width: 45%;
        margin-right:5%;
        margin-left:2.5%;
        float: right;
        background-color:gold;

    }
    .search-button:hover{
        background-color:yellow;
    }
    .post-button,.pickup-button{
        float:right ;
        background-color:lightseagreen;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px; <!--ขัดกรอบให้มน-->
        cursor: pointer;
        max-width: 45%;
        margin-top:2.5%;
        margin-right: 1.5%;
    }
    .post-button:hover,.pickup-button:hover{
        background-color: aqua;
    }
       


#mainarea {  width: 100%;  }
#mainarealeft { float: left; width: 25%; border-style:solid; } 
#mainarearight { float: right; width: 75%;  background-color:  powderblue; border-style:solid; }
#toparea{width: 100% ;border-style: solid;}


